@font-face {
    font-family: 'MayaSamuelsPro';
    src: url('MayaSamuelsPro/MayaSamuelsPro-Bold.eot');
    src: local('☞MayaSamuelsPro-Bold'), local('MayaSamuelsPro-Bold'),
    url('MayaSamuelsPro/MayaSamuelsPro-Bold.woff2') format('woff2'),
    url('MayaSamuelsPro/MayaSamuelsPro-Bold.woff') format('woff'),
    url('MayaSamuelsPro/MayaSamuelsPro-Bold.ttf') format('truetype'),
    url('MayaSamuelsPro/MayaSamuelsPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('MayaSamuelsPro/MayaSamuelsPro-Bold.svg#MayaSamuelsPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'BankGothic';
    src: url('BankGothic/BankGothic-Medium.eot');
    src: local('BankGothic-Medium'),
    url('BankGothic/BankGothic-Medium.woff2') format('woff2'),
    url('BankGothic/BankGothic-Medium.woff') format('woff'),
    url('BankGothic/BankGothic-Medium.ttf') format('truetype'),
    url('BankGothic/BankGothic-Medium.eot?#iefix') format('embedded-opentype'),
    url('BankGothic/BankGothic-Medium.svg#BankGothic-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: block;
}
