@import "variables";

$app-img-dir: "./img" !default;

.list-group {
  max-width: $left-nav-width;
}

.list-group-item {
  margin-top: 0.15rem !important;
  text-align: center !important;
  max-width: $left-nav-width;
  text-transform: uppercase;
  color: $nav-group-item-color;
  border: none !important;
  font-family: BankGothic, monospace;
  background: url('#{$app-img-dir}/btn-left.png') left top / auto 100% no-repeat,
              url('#{$app-img-dir}/btn-right.png') right top / auto 100% no-repeat,
              url('#{$app-img-dir}/btn-center.png') left 1rem top / ($left-nav-width - 2rem) 100% no-repeat;

  &.active {
    color: $nav-group-item-color;
    //background-color: $nav-group-item-link-active-bg;
  }
  &:hover {
    cursor: default;
    //background-color: $nav-group-item-hover-bg !important;
  }
  & span:nth-child(odd) {
    position: absolute;
    left: 1rem;
  }
  & span:nth-child(even) {
    position: absolute;
    right: 1rem;
  }
}

a.list-group-item {
  color: $nav-group-item-link-color;

  &.active {
    color: $nav-group-item-link-active;
    //background-color: $nav-group-item-link-active-bg;
  }

  &:hover {
    cursor: pointer;
  }
}

.extra-padding {
  margin: 0.5rem 0 0 0 !important;
}